NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB5C4EmOY247odQytqsiQSoGD4Hhohx0pU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=workout-app-index-prod.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=workout-app-index-prod
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=workout-app-index-prod.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=91654973718
NEXT_PUBLIC_FIREBASE_APP_ID=1:91654973718:web:01830900e9c96ee5464837
CATALOG_ADMIN_EMAIL=replace-with-authorized-google-account
